*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.bar{
  margin: 10px;
  color: white;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: space-evenly;
  width: 140px;
  height: 45px;
  font-size: x-large;
  font-weight: 800;
  display: flex;
  box-shadow: 0 0 5px burlywood,
  0 0 25px burlywood;
}
.navbar{
  background-color: black;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.details{
  padding-left: 200px;
  padding-right: 50px;
}
nav {
  margin: 12px auto 0;
  padding-right: 0px;
  position: relative;
  width: 590px;
  height: 50px;
  border-radius: 8px;
  font-size: 0;
  background: linear-gradient(45deg,rgba(42, 47, 41, 0.6),#0a0a0a);
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .3s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 160px;
}
a:nth-child(5) {
  width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: red;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: red;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: red;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
  background-color:red;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 120px;
  left: 470px;
  background-color:red;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #fffcfc;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}
.title{
  padding-left: 600px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
section {
    padding: 60px 0;
   /* min-height: 100vh;*/
}

.sec-title{
position:relative;
z-index: 1;
margin-bottom:60px;
}

.sec-title .title{
position: relative;
display: block;
font-size: 18px;
line-height: 24px;
color: #ffffff;
font-weight: 500;
margin-bottom: 15px;
font-size: xx-large;
}

.sec-title h2{
position: relative;
display: block;
font-size:40px;
line-height: 1.28em;
color: #ffffff;
font-weight: 600;
padding-bottom:18px;
}

.sec-title h2:before{
position:absolute;
content:'';
left:0px;
bottom:0px;
width:50px;
height:3px;
background-color:#ffffff;
}

.sec-title .text{
position: relative;
font-size: 16px;
line-height: 26px;
color: #fffefe;
font-weight: 400;
margin-top: 35px;
}

.sec-title.light h2{
color: #ffffff;
}

.sec-title.text-center h2:before{
left:50%;
margin-left: -25px;
}

.list-style-one{
position:relative;
}

.list-style-one li{
position:relative;
font-size:16px;
line-height:26px;
color: #ffffff;
font-weight:400;
padding-left:35px;
margin-bottom: 12px;
}
.list-style-one li a:hover{
color: #44c0e5;
}

.about-section{
position: relative;
padding: 60px 0 70px;
}

.about-section .sec-title{
margin-bottom: 45px;
}

.about-section .content-column{
position: relative;
margin-bottom: 50px;
}

.about-section .content-column .inner-column{
position: relative;
padding-left: 30px;
}

.about-section .text{
margin-bottom: 20px;
font-size: 16px;
line-height: 26px;
color: #ffffff;
font-weight: 400;
}

.about-section .list-style-one{
margin-bottom: 45px;
}
body{
  background-image: url(https://cdn.wallpapersafari.com/78/88/PI7yxE.jpg) !important;
  background-repeat:repeat;
  background-size: cover;
}